
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /problems/{problemId} {
      // Anyone can read and create problems
      allow read, create: if true;
      
      // Allow anyone to update comments and stats
      allow update: if request.auth == null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['comments', 'stats']);
      
      // Allow authenticated admins to update anything
      allow update, delete: if request.auth != null;
    }
  }
}
