@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 256 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 256 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 256 10% 25%;
    --primary: 256 85% 65%;
    --primary-foreground: 240 100% 99%;
    --secondary: 255 100% 94%;
    --secondary-foreground: 256 10% 25%;
    --muted: 255 100% 96%;
    --muted-foreground: 255 10% 55%;
    --accent: 260 100% 97%;
    --accent-foreground: 256 10% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 20% 89%;
    --input: 255 20% 89%;
    --ring: 256 85% 65%;
    --radius: 0.8rem;
    --chart-1: 256 85% 65%;
    --chart-2: 255 100% 94%;
    --chart-3: 260 100% 97%;
    --chart-4: 255 10% 55%;
    --chart-5: 256 10% 25%;
  }
 
  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 85% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 4% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 15%;
    --input: 240 4% 15%;
    --ring: 256 85% 70%;
    --chart-1: 256 85% 70%;
    --chart-2: 240 4% 15%;
    --chart-3: 240 4% 15%;
    --chart-4: 0 0% 63.9%;
    --chart-5: 0 0% 98%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .flowchart-container svg {
    max-width: 100% !important;
    height: auto !important;
  }
}
